/* list section */

.list {
  background-color: #d1cebd;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
}

.list ul {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}

.list li {
  border-right: 1px solid black;
  padding: 0 1.2rem;
}

.list li:hover {
  cursor: pointer;
}

.list li:last-child {
  border-right: none;
}

/* icon section */

.icon {
  aspect-ratio: 3/1;
  background-color: white;
  width: 6rem;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.15rem;
}

.icon img {
  border-right: 1px solid black;
  height: 20.23;
  width: 28px;
}

.icon img:last-child {
  border-right: none;
}

.icon img:hover {
  cursor: pointer;
}

/* media responsiveness */

@media (width <= 768px) {
  .list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
  }

  .list li {
    font-size: 16px;
    /* padding: 0.3rem; */
  }

  .icon {
    height: 28px;
    width: 55px;
  }

  .icon img {
    height: 25px;
    width: 25px;
    padding: 0.1rem;
  }
}

@media (width <= 660px) {
  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .list ul {
    display: flex;
    flex-direction: row;
    padding: 0.15rem;
  }
  .list li {
    font-size: 12px;
    padding: 0 0.3rem;
  }

  .icon {
    height: 28px;
    width: 55px;
  }

  .icon img {
    height: 22px;
    width: 22px;
    padding: 0.1rem;
  }
}
